In [3]:
name = input("Enter the name: ")
if name == "Gourav":
    print("hi Gourav ,How are you")
else:
    print("Hello " + name)

Enter the name: Sakhsham
Hello Sakhsham

In [4]:
x= 5
if x<10:
    print("x is less than 10")
elif x<8:
    print("x is less than 8")
else:
    print("I dont know")

x is less than 10

In [6]:
letter= input("Enter a letter: ")
if letter == 'a'orletter =='b'or letter=='c':
    print("letter is one of the first three letters of alphabet")
else:
    print("letter is out the the first three alphabets")

Enter a letter: h
letter is out the the first three alphabets

In [7]:
letter= input("Enter a letter: ")
if (letter == 'a'or
    letter =='b'or 
    letter=='c'): # more readable
    print("letter is one of the first three letters of alphabet")
else:
    print("letter is out the the first three alphabets")

Enter a letter: t
letter is out the the first three alphabets

In [8]:
x =5
if not x==4:
    print("x is not 4")

x is not 4

In [9]:
x=1234
y ='abcd'

In [10]:
type(x)

int

In [11]:
type(y)

str

In [12]:
x=1
y='2'
x+int(y)

3

In [13]:
type(y)#type of y is still str

str

In [15]:
age = input("Enter your age:")#input function returns string

Enter your age:5

In [16]:
age

'5'

In [1]:
my_var = 2
my_var = my_var + 1
my_variable = 12
diff_var = my_variabel - my_var
print(diff_var)

NameError: name 'my_variabel' is not defined

In [2]:
var_a = -17.5
type(var_a)

float

In [3]:
n = 1
a = 'm'
m = n
type(m)

int

In [9]:
my_value = (3 + 2) + 16 / (4 / 2)
my_value

13.0

In [13]:
remainder = 4*2%5
remainder

3

In [14]:
(6<10) and (4==4)

True

In [1]:
s='abcdef'
for letter in s:
    print(letter)

a
b
c
d
e
f

In [2]:
s='abcdef'
for letter in s:
    if letter not in 'aeiou':#printing only consonants
       print(letter)

b
c
d
f

In [3]:
s='abcdef'
# for ask s that are you iterable then if yes it works as a loop
for letter in s[:3]:# slices string and include index 0 to 2 
       print(letter)

a
b
c

In [15]:
#enumerate this is something which asks the question are you iterable and it is function which returns index the itm one after the other
for index,letter in enumerate(s):
    #for index,letter in enumerate(s,1):
        print(f"{index} : {letter}")

0 : a
1 : b
2 : c
3 : d
4 : e
5 : f

In [19]:
#for i in 4: this gives error
for i in range(4): # range makes the int iterable
    print("Gourav")

Gourav
Gourav
Gourav
Gourav

In [20]:
s = 'abcdef'
'd' in s

True

In [22]:
look_for = 'd'
for letter in s:
    if letter == look_for:
        print(letter)
        break # so the loop breaks as we got d

d

In [23]:
look_for = 'd'
for letter in s: # this code prints all letters until we get d
    if letter == look_for:
        break
    print(letter)

a
b
c

In [24]:
look_for = 'd'
for letter in s: # this code prints all letters until we get d
    if letter == look_for:
        continue # it ignores that partof loop where it is called and continues loop 
    print(letter)

a
b
c
e
f

In [25]:
# for loop iterates over all items wheareas in while loop until and unless a condition is true it will do its job
s= 'abcdef'
while s:
    print(s)
    s = s[:-1]# -1 is the last element

abcdef
abcde
abcd
abc
ab
a

In [26]:
# while can be used when we dont know how many times user is going to put input
s = input("Enter something : ")
while s:
    print(f"you entered : {s}")
    s = input("Enter something : ")

Enter something : abc
you entered : abc
Enter something : def
you entered : def
Enter something :

In [27]:
while True:
    s = input("Enter something:")
    if not s:
        break
    print("you entered " + s)

Enter something:abc
you entered abc
Enter something:

In [31]:
# nice example of combination of for and while loop
while True:
    s =input("enter some number: ")
    if not s:
        break
    total = 0
    for number in s :
        total +=int(number)
    print(total)

enter some number: 123
6
enter some number: 564
15
enter some number:

In [34]:
keep_looping =True
counter =0
while keep_looping:
    counter = counter +1
    if counter >3:
        keep_looping= False
print(counter)

4

In [35]:
my_list = [0,1,2,3,4]
for item in my_list[0:-2]:
    print(item+1)

1
2
3

In [41]:
for int in range(1,10,3):
    print(int)

1
4
7

In [1]:
x= 'abc'
x*3

'abcabcabc'

In [2]:
print('_'*60)

____________________________________________________________

In [5]:
x[1]='d' #strings are immutable 
#\\n can be used to print \n

TypeError: 'str' object does not support item assignment

In [8]:
#s = 'She's a nice girl' gives error
s ="She's a nice girl"
print(s)
s ='She\'s a nice girl. '
print(s)
s = "He said,\"Hello\""
print(s)

She's a nice girl
She's a nice girl.
He said,"Hello"

In [10]:
path = r'c:\abc\def\ghi' # r here converts the string into raw string i.e there are no special characters in the string
print(path)

c:\abc\def\ghi